*,
*::before,
*::after {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif !important
}

html,
body {
    height   : 100vh;
    min-width: 100vw;
}

@media screen and (width >=993px) {
    .main-cnt {
        margin-left: 300px;
    }
}

nav {
    position : static;
    left     : 0;
    /* float : left; */
    /* border: 1px solid black; */
    height   : 100vh;
}

.main-cnt {
    /* float: right; */
    padding  : 0 20px 0 20px;
    /* border: 1px solid orangered; */
    /* width : 100%!important; */

    /* margin-left:300px; */
}

code {
    margin          : 20px 0 20px 0;
    display         : block;
    background-color: rgba(32, 31, 31, 0.2);
    border-radius   : 10px;
    align-items     : center;
    /* text-align   : center; */
    padding         : 18px;
}

.controls-cnt {
    width          : 100%;
    display        : flex;
    flex-direction : row;
    flex-wrap      : wrap;
    justify-content: space-between;
}

.a-box {
    display   : inline-block;
    width     : 240px;
    text-align: center;
}

.img-container {
    height       : 230px;
    width        : 200px;
    overflow     : hidden;
    border-radius: 0px 0px 20px 20px;
    display      : inline-block;
}

.img-container img {
    transform: skew(0deg, -13deg);
    height   : 120px;
    /* margin: -35px 0px 0px -70px; */
}

.img-container img:hover {
    size: scale(1);
}

.inner-skew {
    display      : inline-block;
    border-radius: 20px;
    /* overflow  : hidden; */
    padding      : 0px;
    transform    : skew(0deg, 13deg);
    font-size    : 0px;
    margin       : 80px 0px 0px 0px;
    /* background: #c8c2c2; */
    height       : 250px;
    width        : 200px;
}

.text-container {
    box-shadow   : 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    padding      : 90px 20px 20px 20px;
    border-radius: 20px;
    background   : #fff;
    margin       : -120px 0px 0px 0px;
    line-height  : 19px;
    font-size    : 14px;
}

.text-container h3 {
    margin   : 20px 0px 10px 0px;
    color    : #04bcff;
    font-size: 18px;
}

.feature-img-cnt{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.feature-img-cnt img {
  width: 100%;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 1.3em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

@media screen and (min-width: 666px) and (max-width: 2000px) {
    .feature-img-cnt img {
        width: 40%;
        margin: 0 auto;
    }
}

.icons {
    width : 100px;
    height: 100px;
}

.how-to-use-cnt {
    display       : flex;
    flex-direction: row;
}

.main {
    max-width: 1200px;
    margin   : 0 auto;
}

.cards {
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    list-style           : none;
    margin               : 0;
    padding              : 0;
}

.cards_item {
    display: flex;
    padding: 1rem;
    height : 500px;
}

.card_image {
    height  : calc(13*1.2rem);
    padding : 1.2rem 1.2rem 0;
    position: relative;
}

.card_image:before,
.card_image:after {
    content   : "";
    position  : absolute;
    width     : 20px;
    left      : 60%;
    top       : 0;
    height    : 45px;
    background: #e6e6e6b8;
    transform : rotate(45deg);
}

.card_image:after {
    transform: rotate(-45deg);
    top      : auto;
    bottom   : -22px;
    left     : 40%;
}

.card_image img {
    width        : 90%;
    height       : 90%;
    /* object-fit:cover; */
    object-fit   : contain;
}

.cards_item {
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.25));
}

.card {
    background-color : white;
    border-radius    : 0.25rem;
    display          : flex;
    flex-direction   : column;
    overflow         : hidden;
    padding-left     : 30px;
    background       : repeating-linear-gradient(#0000 0 calc(1.2rem - 1px), #66afe1 0 1.2rem) right bottom /100% 100%, linear-gradient(red 0 0) 30px 0/2px 100% #fff;
    background-repeat: no-repeat;
    line-height      : 1.2rem;
    -webkit-mask     : radial-gradient(circle .8rem at 2px 50%, #0000 98%, #000)0 0/100% 2.4rem;
}

.card_content {
    padding: 1.2rem;
}

h2.card_title,
p {
    margin: 1.2rem 0;
}

h2.card_title {
    font-size: 1.3em;
}

body {
    font-family: monospace;
    background : #eee;
}

html {
    font-size: 15px;
}



#feature .img-cnt {
    background-color: white;
    display         : flex;
    justify-content : center;
    align-items     : center;
    text-align      : center;
}

#features .feature-lsit {
    margin: 30px;
 }

 #features ul {
    list-style-type: 1;
 }

 ol li {
    font-style: bold;
 }


 #features .feature-lsit ul {
    list-style: none;
    margin-left: 30px;
 }

 .sub-heading{
    margin: 0!important;
    padding-top: 0!important;
 }
